html, body { 
    background-color: rgb(255, 255, 255);
}

.tggv-logo{
    width: 250px;
    height: 250px;
}
.button1 { 
    border: none;
    width: 350px;
    height: 50px;
    background-color: #037F83;
    border-radius: 5px;
    font-family: 'Montserrat' , sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.process-title , .process-text{ 
    font-family: 'Montserrat' , sans-serif;
    
}

.process-text { 
    font-size: 20px;
    font-weight: 400;
}

.process-title { 
    font-size: 36px;
    font-weight: 500;
}



