{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/yk.css' %}">
{% endblock %}

{% block body %}

<section id="yk">
    <div class="yk-wrapper">
        <h2 class="section-title">İNSAN KAYNAKLARIMIZ</h2>
        <div class="managers">
    
            <div class="managerh">
                <div class="manager-img-wrapper">
                    <img class="manager-img" src="{% static 'img/emresahin.jpg'%}" alt="">
                </div>

                <h1 class="manager-name">Emre Şahin</h3>
                <h3 class="manager-title">İnsan Kaynakları Başkanı</h3>
            </div>

            <div class="manager">
                <div class="manager-img-wrapper">
                    <img class="manager-img" src="{% static 'img/person2.png'%}" alt="">
                </div>

                <h1 class="manager-name">Ad Soyad</h3>
                <h3 class="manager-title">Sıfatı</h3>
            </div>
            <div class="manager">
                <div class="manager-img-wrapper">
                    <img class="manager-img" src="{% static 'img/person2.png'%}" alt="">
                </div>

                <h1 class="manager-name">Ad Soyad</h3>
                <h3 class="manager-title">Sıfatı</h3>
            </div>
            <div class="manager">
                <div class="manager-img-wrapper">
                    <img class="manager-img" src="{% static 'img/person2.png'%}" alt="">
                </div>

                <h1 class="manager-name">Ad Soyad</h3>
                <h3 class="manager-title">Sıfatı</h3>
            </div>
            <div class="manager">
                <div class="manager-img-wrapper">
                    <img class="manager-img" src="{% static 'img/person2.png'%}" alt="">
                </div>

                <h1 class="manager-name">Ad Soyad</h3>
                <h3 class="manager-title">Sıfatı</h3>
            </div>

            
            
        </div>
    </div>
</section>
{% endblock %}