:root {
    --logo-color:#037F83;
}
.hf-wrapper { 
    padding: 150px 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.h-img-wrapper { 
    margin-top: 50px;
    flex: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-img { 
    width: 500px;
}

.h-wrapper {
    
    margin-top: 50px;
    flex: 40%;
    text-align: center;
}

.h-title { 
    font-family: 'Rubik' , sans-serif;
    font-size: 36px;
    color: var(--logo-color);

}

.h-text { 
    font-family: 'Poppins' , sans-serif;

}


