.company-wrapper{
    padding: 200px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.c-card { 
    width: 400px;
    font-family: 'Rubik' , sans-serif;
    font-size: 36px;
    text-wrap: nowrap;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    background-color: white;
}

@media (max-width:500px) { 
    .c-card { 
        width: 300px;
        font-size: 24px;
    }
    
}

@media (max-width:1050px) { 

.company-wrapper { 
    justify-content: center;
}
}