:root {
    --logo-color:#037F83;
}


.contact-wrapper{
    padding: 200px 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.content{
   text-align: center;
}

.title{
    font-family: 'Rubik' , sans-serif;

}
.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.input-wrapper{
    flex: 50%;
    padding: 10px 5px;
}

.inp-txt{
    border-radius: 5px;
   
}
.input-wrapper-msg{
    flex: 100%;
}

.submit-b { 
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--logo-color);
    font-family: 'Poppins' , sans-serif;
    font-size: 20px;
    padding: 5px 10px;
}
