:root {
    --logo-color:#037F83;
}
#ftr { 
    padding: 100px 10%;
    background-color: var(--logo-color);

}

.footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left { 
    flex: 30%;
    justify-content: center;
}

.footer-left img{
    width: 300px;
    display: block;
    padding-bottom: 20px;
}
.lftr-text { 
    font-family: 'Rubik' , sans-serif;
    font-size: 16px;
    font-weight: 300;
    display: block;
}

.footer-right { 
    flex: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-list{
    list-style-type: none;
    text-align: start;
    padding-left: 100px;    
}
    

.footer-list-title{
    font-family: 'Rubik' , sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
    }
.footer-list-element{
    font-family: 'Rubik' , sans-serif;
    font-size: 16px;
    padding: 5px 0px;
    transition: .2s linear;
}
.footer-list-element:hover { 
    color: black;
    cursor: pointer;
}