{% load static %}
<nav id="nav" class="shadow shadow-sm fixed-top">
    <div class="nav-content">
        <div class="nav-logo-wrapper">
            <img id="nav-logo" src="{% static 'img/tuggev-logo.png' %}" alt="">
            <!-- <h3 class="nav-logo-text">TÜGGEV</h3> -->
        </div>
        <div class="nav-links-wrapper">
            <div class="nav-link-wrapper">
            <a class="nav-link" href="{% url 'home' %}">Anasayfa</a>
        </div>
            <div class="nav-link-wrapper">
            <a class="nav-link" href="{% url 'news' %}">Faaliyetler</i>
                
            </a>
        </div>
            <div class="nav-link-wrapper">
            <a class="nav-link nav-dropdown" href="{% url 'company' %}">Kurumsal<i class="fa-solid fa-angle-down"></i>
            </a>
            <ul class="nav-dropdown-links shadow">
                <li onclick="location.href='{% url 'yonetim-kurulu' %}'" class="nav-dropdown-link hover-underline-animation">Yönetim Kurulumuz</li>
                <li onclick="location.href='{% url 'il-baskanliklari'%}'" class="nav-dropdown-link hover-underline-animation">İl Başkanlıklarımız</li>
                <li onclick="location.href='{% url 'insan-kaynaklari'%}'" class="nav-dropdown-link hover-underline-animation">İnsan Kaynakları</li>
                <li onclick="location.href='{% url 'hakkimizda'%}'" class="nav-dropdown-link hover-underline-animation">Hakkımızda</li>
                <li class="nav-dropdown-link hover-underline-animation">Bağış Politikamız</li>
                <li class="nav-dropdown-link hover-underline-animation">Gizlilik Politikamız</li>
            </ul>
        </div>

        <div class="nav-link-wrapper">
            <a class="nav-link nav-dropdown" href="{% url 'donations' %}">Yardımlarımız<i class="fa-solid fa-angle-down"></i>
            </a>
            <ul class="nav-dropdown-links shadow">
                <li class="nav-dropdown-link hover-underline-animation">ÖĞRENCİ BURS YARDIMI                    </li>
                <li class="nav-dropdown-link hover-underline-animation">YETİM VE ÖKSÜZ YARDIMI</li>
                <li class="nav-dropdown-link hover-underline-animation">DEPREMZEDE YARDIMI</li>
                <li class="nav-dropdown-link hover-underline-animation">KURBAN YARDIMI</li>
                <li class="nav-dropdown-link hover-underline-animation">ENGELLİ YARDIMI</li>
            </ul>
        </div>
            <div class="nav-link-wrapper">
            <a class="nav-link" href="{% url 'contact'%}">İletişim</a>
        </div>
        </div>

        <i href="#" class="fa-solid fa-bars" id="menu-bars"></i>
        <div class="nav-end-wrapper">

            <a class="nav-end-link" href="#"><i class="fa-solid fa-user"></i></a>
            <div class="verticalLine">
                <a class="nav-end-link" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                
              </div>
          
                
                <button class="nav-button">Bağış Yap</button>
              
        </div>
    </div>
</nav>